body{
    background-color: gray;

}

.page {
    margin: auto;
    text-align: center;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
}

.dice {
    text-align: center;
    display: inline-block;
}
